streamlit>=1.35.0
langchain>=0.2.0
langchain-groq
langchain-community
langchain-core
python-dotenv
gtts
google-generativeai>=0.8.3
requests
streamlit-mic-recorder
flask
flask-cors
beautifulsoup4
duckduckgo-search
asyncio
easyocr
opencv-python-headless
Pillow
numpy
